---
layout: default
permalink: "/how-to-apply/"
title: How To Apply
head_title: How To Become A {{ settings.type }} Assistant In {{ settings.course_length_weeks
  }}-Weeks | Student Application
description: Find out how to become a {{ settings.type | downcase }} assistant in just
  {{ settings.course_length_weeks }}-Weeks with {{ settings.site_name }}'s affordable program.
  Get started today!
benefits:
- header: Work Anywhere In The State
  body: |
    We are licensed and regulated by the local state workforce commission, so our graduates receive the same
    certificates as any other school in the state. Our students can practice as dental assistants at any
    office in this state!
- header: Valuable and Versatile
  body: |
    Dental assistants aren’t limited to a general practice. They can work in orthodontics, oral surgery,
    pediatrics, and plenty more specialty offices within the dental community!
- header: Positive Job Outlook
  body: |
    Per the Bureau of Labor Statistics, employment of dental assistants is projected to grow 19 percent from
    2016 to 2026, much faster than the average for all occupations. For more information, please visit <a
    href="https://www.bls.gov/ooh/healthcare/dental-assistants.htm#tab-1">https://www.bls.gov/ooh/healthcare/dental-assistants.htm#tab-1.</a>
steps:
- header: 'Step 1: Click below or call us to book a tour'
  body: 'We do not take walk-ins. As our classes are held in an actual office,
    you’ll need to schedule your tour below first at a time that''s best for you.
    We can’t wait to meet you!'
- header: 'Step 2: Tour the school and fill out your application'
  body: 'There is no need to bring anything with you. This is your opportunity
    to check out the environment and speak with our school representative to get
    all your questions answered about becoming a Dental Assistant!'
- header: 'Step 3: Processing your application'
  body: 'We are excited to hear how your tour went! Within 1-2 business days your
    application will be processed. Once your application is approved, we will
    send you an acceptance email welcoming your enrollment into the program.'
- header: 'Step 4: Complete your enrollment'
  body: 'To secure your spot in class you will need to make a down payment either
    online or over the phone with one of our admissions specialists. After your
    down payment is made, you just need to submit your required enrollment documents
    through our online student portal.'
faqs:
- header: Do you accept financial aid?
  body: |
    We don’t accept financial aid, but we have some pretty great reasons why! The founder of our
    school, Dr. Ince, decided that he wanted to create an amazing opportunity for those who desire
    to enter the field. He believed that students not only deserve a great education, but also an
    affordable and convenient option. Rather than opting to make our school more expensive in order
    to allow for financial assistance, Dr. Ince chose to implement affordable tuition prices;
    providing our students with the opportunity to graduate with little to no student loan debt. If
    none of our payment plan options work for you, please give us a call. We are more than happy to
    customize a plan!
- header: How long does it take to become a dental assistant?
  body: |
    The time it takes to become a Dental Assistant varies between schools and certificate programs.
    Our curriculum is {{ settings.course_length_weeks }}-weeks long and fully prepares students to start working as a Dental
    Assistant.
- header: How can your program be so fast?
  body: |
    {{ settings.site_name }} is a \"hands-on learning program.\" We take a different approach
    from traditional education. Our classes take place in a dental office rather than a classroom.
    There is a hands-on component to every part of our course. Our classes begin with a
    lecture/class discussion, but the majority of the class time is spent in labs learning the
    essential techniques of Dental Assisting. When our students graduate and begin their career,
    they are at home in a dental office.
- header: How can a short course be as effective as a longer program?
  body: |
    As a newly hired Dental Assistant, your employer will have an expectation that you will know the
    basic skills of Dental Assisting. It’s those fundamental skills that we focus on teaching our
    students. Our custom designed curriculum sets students up for success in knowing exactly what
    dentists will expect them to know.
- header: Will I be more qualified if I attend a longer program?
  body: |
    When you graduate from any dental assisting school you receive a certificate of completion. Many
    students ask if they can expect to make a higher starting salary if they attend a longer
    program. The starting salary for a Dental Assistant does not have anything to do with how long
    you spent in school or how much you paid for your schooling.
- header: What is the job description of a dental assistant?
  body: |
    <p>
      Dental Assistants perform a variety of duties, including but not limited to assisting the
      dentist, carrying out clinical tasks, and completing administrative work.
    </p>
    <p>
      Dental assistants may perform many different clinical duties including preparing patients and
      the work area for treatments and procedures, sterilizing dental instruments, assisting the
      dentist during procedures, administrative/front office tasks, working with patients on billing
      and payment, taking molds and impressions, performing x-rays, & more.
    </p>
    <p>
      Dental Assistants are responsible for making patients feel at ease while also preparing them for
      treatment. During dental visits, assistants often work alongside the dentist.
    </p>
- header: What is the job outlook for dental assistants?
  body: |
    Per the Bureau of Labor Statistics, employment of dental assistants is projected to grow 19
    percent from 2016 to 2026, much faster than the average for all occupations. For more
    information, please visit
    <a href="https://www.bls.gov/ooh/healthcare/dental-assistants.htm#tab-1">https://www.bls.gov/ooh/healthcare/dental-assistants.htm#tab-1.</a>
- header: How much does a dental assistant make?
  body: |
    The median annual wage for dental assistants is $38,690 per year as of May 2017. For more
    information, please visit
    <a href="https://www.bls.gov/oes/2017/may/oes319091.htm">https://www.bls.gov/oes/2017/may/oes319091.htm.</a>
- header: Will I be eligible for benefits with my employer?
  body: 'Benefits vary by practice and should be discussed with the hiring practice.'
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
  {% endif %}
{% endfor %}

<div class="bg-img bg-img-5">
  <div class="container-fluid bg-gradient-brand-secondary-light-50 d-flex align-items-center py-5">
    <div class="container py-5">
      <h1 class="display-4 text-center text-white text-shadow">{{ settings.type }} Assistant Program Application</h1>
      <h2 class="font-family-alt text-center text-white text-shadow">How To Apply For Our {{ settings.course_length_weeks }}-Week {{ settings.type }} Assistant Course
      </h2>
    </div>
  </div>
</div>

<div class="container py-5">
  <h2 class="display-5 text-center">Ready to get started? Follow these 4 easy steps to enroll.</h2>
  <p class="text-center">Please read these steps carefully to ensure a smooth and successful enrollment.</p>
  <div class="justify-content-center">
    <amp-accordion disable-session-states>
      {% for item in page.steps %}
        <section class="mb-3">
          <h4 class="p-3 rounded-top shadow-sm border-0 bg-brand-tertiary-dark">
          {{ item.header }}
          </h4>
          <div class="border border-muted rounded-bottom p-2">
          {{ item.body }}
          </div>
        </section>
      {% endfor %}
    </amp-accordion>
  </div>

  <h2 class="display-5 text-center ready">Let the classes begin!</h2>
  <div class="row justify-content-center">
    <a href="{{ settings.scheduling_url }}" role="button" class="btn btn-lg btn-brand-secondary-dark center shadow my-5">SCHEDULE AN
      APPOINTMENT</a>
  </div>
</div>

<div class="container-fluid bg-light py-5">
  {% include praise.html %}
</div>


<div class="container my-5">
  <h2 class="display-5 text-center">Dental Assistant Program Benefits</h2>
  <p class="text-center">There are many reasons to become a Dental assistant.</p>

  <div class="row mb-5">
    <div class="col-lg-6 col-md-10">
      <amp-img
        src="/assets/uploads/Dental-Assistant-Program-Benefits.png"
        class="img-fluid shadow rounded"
        width="425"
        height="600"
        layout="responsive"
      ></amp-img>
    </div>
    <div class="col-lg-6 col-md-10 my-auto">
      {% for item in page.benefits %}
        <h5>
          {{ item.header }}
        </h5>
        <p>
          {{ item.body }}
        </p>
      {% endfor %}
    </div>
  </div>
  <div class="row justify-content-center">
    <a
      href="/tuition/"
      role="button"
      class="btn btn-lg btn-brand-secondary-dark center shadow mt-4"
    >
      TUITION AND ENROLLMENT
    </a>
  </div>
</div>

<div class="container-fluid bg-light py-5">
  <div class="row justify-content-center">
    <h2 class="display-5 text-center mb-4">Frequently Asked Questions</h2>
  </div>

  <div class="container justify-content-center">
    <amp-accordion disable-session-states>
      {% for item in page.faqs %}
      <section class="mb-3">
        <h4 class="p-3 rounded-top shadow-sm bg-white border-0">{{ item.header | liquify }}</h4>
        <div class="border border-muted rounded-bottom p-2">{{ item.body | liquify }}</div>
      </section>
      {% endfor %}

    </amp-accordion>
  </div>
</div>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {% for card in page.faqs %}
        {
          "@type": "Question",
          "name": "{{ card.header | liquify }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text":"{{ card.body | liquify }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
  </script>