---
layout: default
permalink: '/'
title: Homepage
head_title: ''
description: ''
amp_components:
- amp-recaptcha-input
learn_items:
- icon: far fa-lightbulb fa-2x
  title: Flexible Schedule
  description: In-person, part-time classes meet twice a week in the evenings,
    so learning to code fits your schedule. Benefit from a “flipped classroom” approach,
    with hands-on classes led by instructors who work as professional developers during the day.
- icon: far fa-lightbulb fa-2x
  title: Affordable Tuition
  description: Cover your tuition by paying course-by-course or for the entire program up front,
    (and saving). Contact our admissions team to discuss how Austin Coding Academy can work for you.
- icon: far fa-lightbulb fa-2x
  title: Unlimited Tutoring
  description: Stay on track with your coursework by taking advantage of free unlimited tutoring.
    You can book 1-on-1 help on your schedule or take advantage of weekend group tutoring at both of our campuses.
- icon: far fa-lightbulb fa-2x
  title: Job Placement
  description: Develop skills that employers are looking for with our practical curriculum, taught by professional developers.
    Receive 1-on-1 attention from our Director of Job Placement. Build your resume, practice interviews, and more in our Job Placement Course.

---

{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
  {% endif %}
{% endfor %}

<section class="py-5 bg-img-1">
  <div class="container text-center text-white my-5 py-5">
    <div class="my-5 py-5">
      <h1 class="font-family-alt font-weight-bold">Change Your Life With a New Career</h1>
      <h2 class="font-family-alt font-italic">
        Part-time coding classes taught by local full-time developers
      </h2>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <h3 class="font-family-alt font-italic"><strong>Why</strong> choose us?</h3>
    <h4 class="h5">As fun as it is to learn how to code, we know you didn't just come to us for the kicks. You need to launch a new career and we're here to help you do it.</h4>
    <div class="d-flex">
      <hr style="width: 200px; border-width: 3px" class="mx-0" />
    </div>
    <div class="row">
      {% for item in page.learn_items %}
        <div class="col-md-6">
          {% if forloop.last %}
            <div class="card text-white bg-gradient-dark-gray mb-3 border-0 shadow-lg">
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <h6 class="card-text">{{ item.description }}</h6>
              </div>
            </div>
          {% else %}
            <div class="media mb-3">
              {% if item.icon != nil %}
                <i class="{{ item.icon }} mr-3"></i>
              {% endif %}
              <div class="media-body">
                <h5 class="mt-0">{{ item.title }}</h5>
                <h6>{{ item.description }}</h6>
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- <section class="bg-light py-5">
  <div class="container d-flex justify-content-center my-5">
    <a href="#" class="btn btn-lg btn-brand-primary-dark">GET STARTED</a>
    <a href="#" class="btn btn-lg btn-outline-dark mx-2">MORE INFO</a>
    <a href="#" class="btn btn-lg btn-brand-secondary-dark">CONTACT US</a>
  </div>
</section> -->

<!-- <section class="py-5 text-center">
  <div class="container">
    <h3 class="font-family-alt"><strong>Events</strong></h3>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-lg-4">
    </div>
  </div> -->


<!-- </section>
<section class="py-5 bg-light">
  <div class="container">
    <h3>Our Team</h3>
    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h4>
    <div class="d-flex">
      <hr style="width: 200px; border-width: 3px" class="mx-0" />
    </div>
    <div class="row d-flex justify-content-center">
      {% for mate in settings.team %}
        <div class="col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
          <div class="mb-3 position-relative">
            <img src="{{ mate.photo }}" class="rounded-circle w-100 shadow-lg mb-3">
            <div class="d-flex justify-content-center position-absolute w-100 mb-3" style="bottom: -10px">
              <div class="rounded-lg p-1 bg-white text-center px-1 shadow-sm w-100">
                <strong>{{ mate.name }}</strong>
                <p class="mb-0 h6">{{ mate.role }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section> -->

<section class="bg-gradient-dark-gray py-5" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="card shadow-lg mb-5">
          <img src="/assets/uploads/eventpic.jpeg" class="card-img-top" alt="event-img">
          <div class="card-body">
            <h5 class="card-title">Learn to Code Workshop</h5>
            <p class="card-text">Have an interest in learning to code, but don't know where to start? This workshop is crafted for total beginners looking for an entry to the wonderful world of coding!</p>
            <dl>
              <dt>Date and Time</dt>
              <dd>Thu, January 16, 2020<br/>6:30 PM – 8:30 PM CST</dd>
              <dt>Location</dt>
              <dd>CENTRL Office Downtown Dallas<br/>Suite #200<br/>Dallas, TX 75201</dd>
            </dl>
            <a href="https://www.eventbrite.com/e/circle-coding-academy-learn-to-code-workshop-centrl-office-11620-tickets-85704198565?ref=elink" class="btn btn-brand-primary-dark px-5" target="_blank">More Info</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-dark">
        <div class="shadow-lg p-4 bg-white rounded-lg">
          <h4 class="text-center">Contact Us</h4>
          <form method="POST" target="_top" action-xhr="{{ settings.form_url }}/{{ settings.hubspot_portal_id }}/7f6ef458-c5b5-4653-b57b-40843d64178c">
            <input name="page_name" type="hidden" value="{{ page.head_title | liquify }}">
            <input name="redirect_url" type="hidden" value="{{ settings.site_url }}/thank-you/">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input type="text" class="form-control" id="firstname" name="firstname" required>
            </div>
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input type="text" class="form-control" id="lastname" name="lastname" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="tel" class="form-control" id="phone" name="phone" required>
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" rows="3" name="message"></textarea>
            </div>
            <div class="form-group">
              <label for="how_did_you_hear_about_us">How did you hear about us?</label>
              <select class="form-control" id="how_did_you_hear_about_us" name="how_did_you_hear_about_us_text" required>
                <option value="" disabled selected>Select</option>
                <option value="Google">Google</option>
                <option value="Facebook">Facebook</option>
                <option value="Instagram">Instagram</option>
                <option value="Reddit">Reddit</option>
                <option value="Radio">Radio</option>
                <option value="Billboard/Local Advertising">Billboard/Local Advertising</option>
                <option value="Friends/Family">Friends/Family</option>
                <option value="Event">Event</option>
              </select>
            </div>
            <div class="d-flex justify-content-center">
              <button class="btn px-5 btn-brand-secondary-dark" type="submit">Send Message</button>
            </div>
            <div class="mt-4">
              {% include data-agreement.html %}
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

</section>