---
layout: default
permalink: "/students/"
title: Students
head_title: Student Resources | {{ settings.site_name }}
description: See details about our {{ settings.type | downcase }} assistant course,
  student resources, and meet your team. Call or message us today to enroll or get
  answers to any questions!
curriculum:
  Dental: "<h2>Curriculum and Student Resources</h2><p>{{ settings.site_name }}'s mission
    is to provide our students with a comprehensive education covering all of the
    topics and procedures they will encounter in their new careers. Topics covered
    in our course include</p><ul><li><p>Sterilization and Infection Control</p></li><li><p>Personal
    Protective Equipment (PPE)</p></li><li><p>Moisture Control</p></li><li><p>Dental
    Anatomy and Physiology</p></li><li><p>Radiology</p></li><li><p>Charting</p></li><li><p>Dental
    Instruments</p></li><li><p>Restorative Techniques</p></li><li><p>Proper Oral Hygiene</p></li><li><p>Preventative
    Care (including sealants)</p></li><li><p>Procedural Post-Operative Instructions</p></li><li><p>CPR,
    Pain Management, and More</p></li></ul>"
  Medical: "<h2>Curriculum and Student Resources</h2><p>We use the NHA Medical Assistant
    CCMA study guide as our textbook and provide this required reading at no additional
    cost to our students! We prepare our students to be ready for their externship
    at week {{ settings.course_length_weeks }} and students must complete their 80-hour externship at a local medical
    practice to receive their certificate of completion. Students will have the option
    of selecting an office to extern at or being placed at a local medical practice
    to complete the externship.</p><ul><li><p>Infection Control</p></li><li><p>Patient
    Intake</p></li><li><p>Vital Signs</p></li><li><p>Anatomy and Physiology</p></li><li><p>Neurology</p></li><li><p>Eye
    and Ear Care</p></li><li><p>Patient Scheduling</p></li><li><p>Orthopedic Medicine</p></li><li><p>Medication
    Administration</p></li><li><p>Pharmacology</p></li></ul>"

externship:
  Dental: |
    <h5>
      Dental Assistant Externship
    </h5>
    <p>
      {{ settings.site_name }} 40-hour externship program provides our students with the real-world experience they need to become confident and qualified dental assistants. The externship portion of our course allows our students the opportunity to work under the direct guidance of experienced dental professionals in a local dental office. Students are eligible to begin their externships after class 6. Although we encourage our students to find their own externships, our Student Success Specialists are here to help our students identify potential opportunities in the area and assist with applications.
    </p>
required_reading:
  Dental: |
    <h2>
      Required Reading
    </h2>
    <p>
      You are required to either purchase or rent the Essentials of Dental Assisting textbook for class.The
      workbook must be purchased and cannot be rented because you will be writing in it. Both ElSevier and
      Amazon offer a discount on a package bundle. ElSevier can take 3-4 weeks to ship, whereas Amazon offers
      faster shipping. You may purchase (or rent) your books elsewhere as long as it is the same edition used
      in the course.
    </p>
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
  {% endif %}
{% endfor %}

<div class="container-fluid bg-img bg-img-6 d-flex justify-content-center align-items-center mb-5 pt-5 text-center">
  <h1 class="display-4 text-white">
    {{ settings.type }} Assistant Course Details
  </h1>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 text-left">
      {{ page.curriculum[settings.type] | liquify }}
    </div>
    <div class="col-md-8 col-lg-5">
      {% if settings.type == 'Dental' %}
        <amp-img
          src="/assets/uploads/dental-assistant-course-and-externship.png"
          layout="responsive"
          class="img-fluid rounded shadow"
        >
        </amp-img>
      {% else %}
        <amp-img
          src="/assets/uploads/Lab-Abby-Shehan.jpg"
          layout="responsive"
          class="img-fluid rounded shadow"
        >
        </amp-img>
      {% endif %}
      <div class="mt-5">
        {{ page.externship[settings.type] | liquify }}
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
      {{ page.required_reading[settings.type] | liquify }}
    </div>
  </div>
  {% if settings.type == 'Dental' %}
    <div class="row justify-content-center my-5">
      <a
        href="https://evolve.elsevier.com/cs/promotion/VEI_DENTAL_ASSISTANT_SCHOOL_P"
        role="button"
        class="btn btn-lg btn-brand-secondary-light center shadow mx-2 mb-5"
        target="_blank"
        rel="noopener"
      >
        PURCHASE ON ELSEVIER
      </a>
      <a
        href="https://www.amazon.com/gp/product/0323430902/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0323430902&linkCode=as2&tag=vandelay0e-20&linkId=6b376edaf0b96b3ad79c267c200d11cf"
        target="_blank" rel="noopener" role="button"
        class="btn btn-lg btn-brand-secondary-light center shadow mx-2 mb-5"
      >
        PURCHASE ON AMAZON
      </a>
    </div>
    <div class="row justify-content-center">
      <amp-img
        src="/assets/uploads/Essentials-of-Dental-Assisting.png"
        class="img-fluid rounded"
        width="555"
        height="558"
        layout="responsive"
      >
      </amp-img>
    </div>
  {% endif %}
</div>
{% if settings.after_graduation.size > 0 %}
<div class="container-fluid bg-brand-secondary-light-10">
  <div class="container">
    <h2>
      What Do I Get After Graduation?
    </h2>
    {{ settings.after_graduation | liquify }}
    <div class="row justify-content-center my-5">
      <a
        href="/contact/"
        role="button"
        class="btn btn-lg btn-brand-secondary-light center shadow mb-5"
      >
        LET'S GET STARTED
      </a>
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row justify-content-center my-5">
    <h3 class="display-5 text-center">
      Meet Your Team
    </h3>
  </div>

  <div class="row justify-content-center m-0">
    {% for mate in settings.team %}
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <amp-img
          src="{{ mate.photo }}"
          class="card-img-top"
          alt="{{ mate.name }}"
          width="348"
          height="435"
          layout="responsive"
        >
        </amp-img>
        <div class="card-body">
          <h5 class="card-title">{{ mate.name }}</h5>
          <p class="card-text">{{ mate.excerpt }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <h2 class="display-5 text-center my-5">
      Follow Us On Social
    </h2>
  </div>
  <div class="row justify-content-center">
    <a role="button" href="{{ settings.facebook }}" class="btn center shadow-sm facebook mb-5 mx-2">Facebook</a>
    <a role="button" href="{{ settings.instagram }}" class="btn center shadow-sm instagram mb-5 mx-2">Instagram</a>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-6 col-lg-4 p-0 w-100 h-auto inline-img inline-img-1 border border-white">
      <!-- <amp-img src="/assets/uploads/coursework-20-767x487.jpg" class="img-fluid d-block m-0 w-auto h-auto"></amp-im> -->
    </div>
    <div class="col-md-6 col-lg-4 p-0 w-100 h-auto inline-img inline-img-2 border border-white">
      <!-- <amp-img src="/assets/uploads/Ortho5.jpg" class="img-fluid d-block m-0 w-auto h-auto"></amp-img> -->
    </div>
    <div class="col-md-6 col-lg-4 p-0 w-100 h-auto inline-img inline-img-3 border border-white">
      <!-- <amp-img src="/assets/uploads/Ortho4.jpg" class="img-fluid d-block m-0 w-auto h-auto"></amp-img> -->
    </div>

    <div class="col-md-6 col-lg-4 p-0 w-100 h-auto inline-img inline-img-4 border border-white">
      <!-- <amp-img src="/assets/uploads/DentalAssitantGroup.jpeg" class="img-fluid d-block m-0 w-auto h-auto"></amp-img> -->
    </div>
    <div class="col-md-6 col-lg-4 p-0 w-100 h-auto inline-img inline-img-5 border border-white">
      <!-- <amp-img src="/assets/uploads/Stock-Group-photo.jpg" class="img-fluid d-block m-0 w-auto h-auto"></amp-img> -->
    </div>
    <div class="col-md-6 col-lg-4 p-0 w-100 h-auto inline-img inline-img-6 border border-white">
      <!-- <amp-img src="/assets/uploads/what-learning-400x250.png" class="img-fluid d-block m-0 h-auto w-100"></amp-img> -->
    </div>
  </div>
</div>