{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
  {% endif %}
{% endfor %}
<footer>
  <div class="container-fluid py-4 footer bg-black">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active text-white" href="/how-to-apply/">How To Apply</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/tuition/">Tuition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/how-to-apply/">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
  <div class="text-center bg-dark">
    <small class="text-light">
      Copyright © {{ site.time | date: '%Y' }} {{ settings.footer_text | liquify }}
    </small>
  </div>
</footer>