<div class="row d-flex justify-content-center flex-column align-items-center">
<amp-img src="/assets/uploads/praise.png" width="97px" height="96px"></amp-img>
  <p class="display-8">PRAISE FROM OUR ALUMNI</p>
</div>

<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <amp-img class="mx-auto d-block" src="/assets/uploads/ashley-meacham-edit.png" alt="First slide" width="98px" height="100px"></amp-img>
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 text-center">
          <p>"By far the best experience I’ve ever had! I want to thank Ms. Vicki and all the other
            instructors for
            always keeping it such a positive place to learn and inspiring us to go after our dreams!
            I’m so excited
            to announce that my
            externship turned into a job offer and I can’t wait to be working in the dental field. Thank
            you all."
            <br/>
            – <strong>Ashley M.</strong>, Former Student</p>
        </div>
      </div>
    </div>
  </div>
</div>